@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: #0d0d0d;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Playfair+Display:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.home-title{
  font-family: 'PT Serif', serif;
  font-size: 4rem;
  font-weight: 10000;
    transition: all 0.3s ease;

}
.home-button:hover{
  color: rgb(var(--foreground-rgb));
  text-shadow:
          0 0 2px #fff,
    0 0 2px #fff,
    0 0 10px #fff;
    transition: all 0.3s ease;
}

.home-button{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 10000;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    color:white;
}
.hidden{
    visibility: hidden;
}
.site-font-home{
    font-family: 'PT Serif', serif;
    font-size: 4rem;
    color: #fafaf9
}
.site-font-base{
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    padding-right: 3px;
    color: #fafaf9
}
.site-font-sm{
    font-family: 'Popins', sans-serif;
    font-size: 1.1rem;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    color: #fafaf9
}
.glow{
    text-shadow:
            0 0 2px #fff,
            0 0 2px #fff,
            0 0 10px #fff;
    transition: all 0.3s ease;
}


.scroll-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

@media (max-width: 768px) {
    .site-font-home{
        font-family: 'PT Serif', serif;
        font-size: 2rem;
    }
    .site-font-base{
        font-family: 'PT Serif', serif;
        font-size: 1.5rem;
        padding-right: 3px;
    }
    .site-font-sm{
        font-family: 'Popins', sans-serif;
        font-size: 1.05rem;
        text-shadow: 3px 4px 7px rgba(0, 0, 0, 0.4);
    }
}

.scroll-text {
    padding: 10px;
    border-style: solid;
    min-width:75%;
    max-width:80vh
}
.grid-container {
    display: grid;
    gap: 10px;

    padding: 10px;
}

.grid-item {
    text-align:left;
    padding: 20px;
    background-color: #232323;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.button-disabled {
    opacity: 0.25;
}

.bar-fade{
    background-color: rgba(13, 13, 13, 0.75);
}
.button-highlighted {
    border: 2px solid white;
}
.end-button{
    padding: 20px;
    background-color: #232323;
    font-family: 'Popins', sans-serif;
    font-size: 1.05rem;
    border-radius: 10px;
    text-align: center;
}
.leaderboard {
    background-color: rgba(35, 35, 35, 0.66);
    border: white solid;
}
