@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: #0d0d0d;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&family=Playfair+Display:ital,wght@1,500&display=swap');

.home-title{
  font-family: 'PT Serif', serif;
  font-size: 4rem;
  font-weight: 10000;
    transition: all 0.3s ease;

}
.home-button:hover{
  color: rgb(var(--foreground-rgb));
  text-shadow:
          0 0 2px #fff,
    0 0 2px #fff,
    0 0 10px #fff;
    transition: all 0.3s ease;
}

.home-button{
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 10000;
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
    color:white;
}
.hidden{
    visibility: hidden;
}
.site-font-home{
    font-family: 'PT Serif', serif;
    font-size: 4rem;
}
.site-font-base{
    font-family: 'PT Serif', serif;
    font-size: 2rem;
    padding-right: 3px;
}
.site-font-sm{
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
}
.glow{
    text-shadow:
            0 0 2px #fff,
            0 0 2px #fff,
            0 0 10px #fff;
    transition: all 0.3s ease;
}


.scroll-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.scroll-text {
    border: red;
    border-style: solid;
    min-width:75vh;
    max-width:80vh
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.grid-item {
    padding: 20px;
    text-align: center;
    background-color: #232323;
    border: none;
    cursor: pointer;
    max-height: 2vw;
}
